@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    border: none;
    outline: none;
}
:root{
    --bg-color: #070010;
    --text-color: #fdfdfd;
    --main-color:#6528F7;
    --secondry-color:#F0FF42;
    --white-color: #fdfdfd;
    --shadow-color: rgba(255, 255, 255, 0.2);
}


body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem 5%;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: 0.5s;
}

.header.sticky{
    background: var(--bg-color);
    box-shadow: 0 0.1rem 1rem var(--shadow-color);
}
.logo{
    font-size: 2rem;
    color: var(--main-color);
    font-weight: 600;
    cursor:default;
    margin-right: auto;
}

.navbar a{
    position: relative;
    font-size: 1.3rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 2rem;
}

.header.sticky .navbar a{
    color: var(--text-color);
}
.header.sticky .navbar a.active{
    color: var(--main-color);
}
.navbar a.active::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -6px;
    height: .1rem;
    background: var(--white-color);
}
.header.sticky .navbar a::before{
    background: var(--main-color);
    opacity: .7;
}
section{
    min-height: 100vh;
    padding: 6rem 4% 1.2rem;
}
.home{
    display: flex;
    align-items: center;
    padding: 100px;
}
.home .home-content{
    max-width: 40rem;
    display: inline-block;
    flex-direction: column;
}

.home-content p{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 0.3;
    margin-bottom: 10px;
    line-height: 1;
}
.home-content h1{
    font-size: 4rem;
    font-weight: 700;
}
.home-content h1 span{
    color: var(--secondry-color);
}
.home .profession-container{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 100vh;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
}
.home .profession-container .profession-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 100vh;
    height: 100vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: professionRotate 13s ease-out infinite;
}
@keyframes professionRotate{
    0%,20%{
        transform: rotate(0deg);
    }
    25%,45%{
        transform: rotate(-90deg);
    }
    50%,70%{
        transform: rotate(-180deg);
    }
    75%,95%{
        transform: rotate(-270deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
.profession{
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--white-color);
    transform: rotate(calc(360deg / 4*var(--i)));
    transform-origin: 50vh;
    background: var(--bg-color);
    padding: 13px 0;
    
}
.profession:nth-child(1) i{
    margin-right: 15px;
}
.profession:nth-child(2),
.profession:nth-child(4){
    padding-bottom: 20px;
}
.profession i{
    font-size: 2.8rem;
    color: var(--main-color);
}
.profession h3{
    font-size: 2rem;  
    font-weight: 600;
    line-height: 1;
    color: var(--main-color);
}

.profession-box .circle{
    width: 560px;
    height: 560px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
}

.profession-container .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 50vh solid var(--main-color);
    border-right: 50vh solid var(--main-color);
    border-bottom: 50vh solid var(--main-color);
    border-left: 50vh solid transparent;
}

.home-img img{
    position: absolute;
    bottom: 0;
    right: 100px;
    width: 62%;
    pointer-events: none;

}
.container{
    padding: 10px 10%;
    z-index: 2;
}
/* 
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--main-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav li a:hover::after{
    width: 100%;
} */
/* .header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #610C9F;
} */

/* -----------about------------ */
#about{
    /* margin-top: 200px; */
    padding-top: 200px;
    color: #ababab;
    /* background: red; */
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
    height: 30rem;
    background: var(--secondry-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    position: relative;
}
.about-col-1 img{
    width: 90%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: "";
    width: 0;
    height: 3px;
    background: var(--main-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul{
    list-style:none;
}
#skills ul li{
    color: var(--main-color);
    margin: 10px 0;
}
.tab-contents ul li{
    margin: 10px;
}
#skills ul li span{
    color: white;
}
.tab-contents ul li span{
    color: var(--main-color);
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* ----------services------------- */
#services{
    padding-top: 120px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list i,h2{
    color: var(--secondry-color);
    size: 13px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;   
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: var(--main-color);
    transform: translateY(-10px);
}

/* --------------portfolio------------- */
#portfoilio{
    padding: 120px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), var(--main-color));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;

}

.layer a{
    margin-top: 20px;
    color: var(--main-color);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;

}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--main-color);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: var(--main-color);

}
/* -----------contact------------- */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;   
}
.contact-left p i{
    color: var(--main-color);
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: var(--main-color);
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: var(--main-color);
    font-weight: 500;

}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px;
    background-color: #262626;
    font-weight: 300;
    margin-top: 20px;
}
